@model MVC.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="container">
	<div class="product-edit">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
	
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />

	<div class="col-lg-7">
        <div class="product-image">
			
		</div>
	</div>
	<div class="col-lg-5">
		<div class="price-bar">
    		<h3>€ @Html.DisplayFor(model => model.Price)</h3>
			<button class="btn kopen">In winkelmandje</button>
			<br/>
            <ul class="selling-points">
                <li>Snelle levering</li>
                <li>Niet goed geld terug!</li>
                <li>Voor 17:00 besteld, morgen in huis!</li>
                <li>Tijdelijk 10% korting op alle producten</li>
            </ul>
		</div>
	</div>
    
    <dl class="dl-horizontal col-lg-7 product-info">
		
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd> 
            @Html.DisplayFor(model => model.Type)
        </dd>
		
		<br/>

		
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

		<br>
		
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

		<!--
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
		-->
    </dl>
</div>


