@model MVC.Models.Product
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager 

@*if (SignInManager.IsSignedIn(User)){
    var user = await UserManager.FindByNameAsync(@UserManager.GetUserName(User));
}*@
@{
    ViewData["Title"] = "Details";
}
<div class="container">
	<div class="product-edit">
		@if (this.User.IsInRole("Admin")){
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>}
        <a asp-action="Index">Terug naar lijst</a>
    </div>
	
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />

	<div class="col-lg-7">
        <div class="product-image-container">
			<img class="product-image" id="detailimage" src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0000.jpg" onError="this.onerror=null;this.src='../../images/not-found-large.jpg';">
		</div>
        <script>
            function nextimage(){
                var a = document.getElementById("detailimage");
                a.src = "/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0000.jpg";
            }
            function nextimage2(){
                var a = document.getElementById("detailimage");
                a.src = "/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0001.jpg";
            }

            function nextimage3(){
                var a = document.getElementById("detailimage");
                a.src = "/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0002.jpg";
            }
            function nextimage4(){
                var a = document.getElementById("detailimage");
                a.src = "/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0003.jpg";
            }
            function nextimage5(){
                var a = document.getElementById("detailimage");
                a.src = "/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0004.jpg";
            }

        </script>
	</div>
    
	<div class="col-lg-5">   
        <div class="price-bar">@if (SignInManager.IsSignedIn(User)){ var user = await UserManager.FindByNameAsync(@UserManager.GetUserName(User)); @await Component.InvokeAsync("BookmarkComponent", new { productId = @Model.Id, userId = @user.Id, amount = @Model.Amount });  }                          
            <h3>€ @Html.DisplayFor(model => model.Price)</h3>           <!--<button class="btn kopen" >In winkelmandje</button>-->          
                @if(Model.Amount >=1){              
                    <a class="btn kopen" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-Id="@Model.Id">In winkelmandje  <span class="glyphicon glyphicon-shopping-cart"></span></a>             }           else{             <p style= "font-weight:bold;color:red;position:absolute;top:18px;left:160px"> Deze product is tijdelijk niet op voorraad! </p>            }           
                    <br/>            <ul class="featureList">             <li class = "tick" >Snelle levering</li>             <li class = "tick" >Niet goed geld terug!</li>             <li class = "tick" >Voor 17:00 besteld, morgen in huis!</li>             <li class = "tick" >Tijdelijk 10% korting op alle producten</li>             </ul>                   
        @if (SignInManager.IsSignedIn(User)){ var user = await UserManager.FindByNameAsync(@UserManager.GetUserName(User)); @await Component.InvokeAsync("SubscribeComponent", new { productId = @Model.Id, userId = @user.Id, amount = @Model.Amount });  }
        </div>     
    </div>
    

    <dl class="dl-horizontal col-lg-7 product-info">
        <div>
        <style>
            
            
        </style>
		<div class="nextimagestyle">
            <button class="nisb1" onclick="nextimage()"><img src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0000.jpg" alt=""/></button>
            
            <button class="nisb2" onclick="nextimage2()"><img src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0001.jpg" alt=""/></button>
            
            <button class="nisb3" onclick="nextimage3()"><img src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0002.jpg" alt=""/></button>
            
            <button class="nisb4" onclick="nextimage4()"><img src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0003.jpg" alt=""/></button>
            
            <button class="nisb5" onclick="nextimage5()"><img src="~/images/products/@Model.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0004.jpg" alt=""/></button>
        </div>
        
        <h3>Omschrijving @Html.DisplayFor(model => model.Name)</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>

        <h3>Specificaties</h3>
        <dl>
            @foreach(var s in Model.Specifications){
                <dt>@s.Name</dt>
                <dd>@s.Value</dd>
            }
        </dl>

    </dl>
</div>


