@model IEnumerable<MVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>@ViewData["Message"]</h2>
        <div class="text-center" style="position:relative">
            <div class="pagination">
            @if(ViewBag.pageIndex > 1){
                <a href="?pageIndex=@(ViewBag.pageIndex - 1)@ViewBag.searchString@ViewBag.orderBy">Previous</a>
            }

            @if(ViewBag.totalPages <= 10){
                for(int i = 1; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex + 5 > ViewBag.totalPages){
                for(int i = ViewBag.totalPages - 9; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex > 6){
                for(int i = ViewBag.pageIndex - 5; i <= ViewBag.pageIndex + 4; i++){
                    if(i == ViewBag.pageIndex){
                    <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else{
                for(int i = 1; i <= 10; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }

            @if(ViewBag.pageIndex < ViewBag.totalPages){
                <a href="?pageIndex=@(ViewBag.pageIndex + 1)@ViewBag.searchString@ViewBag.orderBy">Volgende</a>
            }
            </div>

            @if (this.User.IsInRole("Admin")){
            <p class="text-right" style="position:absolute; top:21px;right:0px;">
                <a asp-action="Create" class="btn btn-primary">Maak een nieuw product aan</a>
            </p>}
        </div>

        <div>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle filterbar" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorteren op: @ViewBag.orderByString</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="?pageIndex=@(ViewBag.pageIndex)@ViewBag.searchString&orderBy=Best">Best Verkocht</a>
                        <hr>
                        <a class="dropdown-item" href="?pageIndex=@(ViewBag.pageIndex)@ViewBag.searchString&orderBy=PrijsLH">Prijs Laag - Hoog</a>
                        <hr>
                        <a class="dropdown-item" href="?pageIndex=@(ViewBag.pageIndex)@ViewBag.searchString&orderBy=PrijsHL">Prijs Hoog - Laag</a>
                        <hr>
                        <a class="dropdown-item" href="?pageIndex=@(ViewBag.pageIndex)@ViewBag.searchString&orderBy=Alphabetisch">Alphabetisch</a>
                    </div>
                </li>
            </ul>
        </div>


    <!--<p dir="rtl">Page @ViewBag.pageIndex of @ViewBag.totalPages</p>--> 
    @foreach (var item in Model) {

            <div class="product-card col col-lg-4 col-md-4">
                <div class="product-card-title">
                    <a class="product-card-title" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                    </a>

                </div>
                <a asp-action="Details" asp-route-id="@item.Id">
                <div class="product-card-image">
                    @if (item.Name != null){
                        <img height="50%" width="90%" src="~/images/products/@item.Name.Replace("'", "").Replace("/", "").Replace(",", "").Replace(".", "") - 0000.jpg" onError="this.onerror=null;this.src='../../images/not-found.jpg';"/>
                    }else{
                        <img height="50%" width="90%" src='../../images/not-found.jpg'/>
                    }
                </div>
                </a>
                <div class="product-card-infobox">
                <div class="product-card-price">
                    <p>€ @Html.DisplayFor(modelItem => item.Price)
                        <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a> -->
                    </p>
                </div>
                   
                    <p class="product-card-descript">@Html.DisplayFor(modelItem => item.Description)</p>
                     @if (this.User.IsInRole("Admin")){
                    <label class="product-card-descript-overflow" >
                        
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
                        
                    </label>
                    }
                </div>
                

            </div>
            
    }
    <div class="text-center">
        <div class="pagination">
            @if(ViewBag.pageIndex > 1){
                <a href="?pageIndex=@(ViewBag.pageIndex - 1)@ViewBag.searchString">Previous</a>
            }

            @if(ViewBag.totalPages <= 10){
                for(int i = 1; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex + 5 > ViewBag.totalPages){
                for(int i = ViewBag.totalPages - 9; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex > 6){
                for(int i = ViewBag.pageIndex - 5; i <= ViewBag.pageIndex + 4; i++){
                    if(i == ViewBag.pageIndex){
                    <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }
            else{
                for(int i = 1; i <= 10; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString@ViewBag.orderBy">@i</a>
                    }
                }
            }

            @if(ViewBag.pageIndex < ViewBag.totalPages){
                <a href="?pageIndex=@(ViewBag.pageIndex + 1)@ViewBag.searchString">Volgende</a>
            }
        </div>
    </div>
</div>