@model IEnumerable<MVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Index</h2>
    <p dir="rtl">Page @ViewBag.pageIndex of @ViewBag.totalPages</p>    
   
    @foreach (var item in Model) {

            <label class="product-card">
                <div class="product-card-title">@Html.DisplayFor(modelItem => item.Name)</div>
                
                <img height="50%" width="90%" src="https://rukminim1.flixcart.com/image/832/832/j431rbk0/computer/t/h/p/hp-notebook-original-imaev2zfjqfpf3ng.jpeg?q=70">
                
                <div class="product-card-price">@Html.DisplayFor(modelItem => item.Price)
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
                

            </label>
            
            <!-- <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr> -->
    }
        <!-- </tbody> -->
<div>
<div class="pagination">
    @if(ViewBag.pageIndex > 1){
        <a href="?pageIndex=@(ViewBag.pageIndex - 1)@ViewBag.searchString">Previous</a>
    }

    @if(ViewBag.totalPages <= 10){
        for(int i = 1; i <= ViewBag.totalPages; i++){
            if(i == ViewBag.pageIndex){
                <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
            else{
                <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
        }
    }
    else if(ViewBag.pageIndex + 5 > ViewBag.totalPages){
        for(int i = ViewBag.totalPages - 9; i <= ViewBag.totalPages; i++){
            if(i == ViewBag.pageIndex){
                <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
            else{
                <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
        }
    }
    else if(ViewBag.pageIndex > 6){
        for(int i = ViewBag.pageIndex - 5; i <= ViewBag.pageIndex + 4; i++){
            if(i == ViewBag.pageIndex){
            <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
            else{
                <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
        }
    }
    else{
        for(int i = 1; i <= 10; i++){
            if(i == ViewBag.pageIndex){
                <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
            else{
                <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
            }
        }
    }

    @if(ViewBag.pageIndex < ViewBag.totalPages){
        <a href="?pageIndex=@(ViewBag.pageIndex + 1)@ViewBag.searchString">Next</a>
    }
</div>
</div>
</div>