@model IEnumerable<MVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Resultaten</h2>
        <div class="text-center">
            <div class="pagination">
            @if(ViewBag.pageIndex > 1){
                <a href="?pageIndex=@(ViewBag.pageIndex - 1)@ViewBag.searchString">Previous</a>
            }

            @if(ViewBag.totalPages <= 10){
                for(int i = 1; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex + 5 > ViewBag.totalPages){
                for(int i = ViewBag.totalPages - 9; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex > 6){
                for(int i = ViewBag.pageIndex - 5; i <= ViewBag.pageIndex + 4; i++){
                    if(i == ViewBag.pageIndex){
                    <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else{
                for(int i = 1; i <= 10; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }

            @if(ViewBag.pageIndex < ViewBag.totalPages){
                <a href="?pageIndex=@(ViewBag.pageIndex + 1)@ViewBag.searchString">Next</a>
            }
            </div>
        </div>


    <!--<p dir="rtl">Page @ViewBag.pageIndex of @ViewBag.totalPages</p>-->    
   
    @foreach (var item in Model) {

            <label class="product-card">
                <div class="product-card-title">
                    <a class="product-card-title" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                    </a>

                </div>
                <a asp-action="Details" asp-route-id="@item.Id">
                <img height="50%" width="90%" src="~/images/products/@Html.DisplayFor(modelItem => item.Name) - 0000.jpg">
                </a>
                <div class="product-card-infobox">
                <div class="product-card-price">
                    <p>€ @Html.DisplayFor(modelItem => item.Price)
                        <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a> -->
                    </p>
                </div>
                   
                    <p class="product-card-descript">@Html.DisplayFor(modelItem => item.Description)</p>
                     @if (this.User.IsInRole("Admin")){
                    <label class="product-card-descript-overflow" >
                        
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        
                    </label>
                    }
                </div>
                

            </label>
            
            <!-- <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr> -->
    }
        <!-- </tbody> -->
    <div class="text-center">
        <div class="pagination">
            @if(ViewBag.pageIndex > 1){
                <a href="?pageIndex=@(ViewBag.pageIndex - 1)@ViewBag.searchString">Previous</a>
            }

            @if(ViewBag.totalPages <= 10){
                for(int i = 1; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex + 5 > ViewBag.totalPages){
                for(int i = ViewBag.totalPages - 9; i <= ViewBag.totalPages; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else if(ViewBag.pageIndex > 6){
                for(int i = ViewBag.pageIndex - 5; i <= ViewBag.pageIndex + 4; i++){
                    if(i == ViewBag.pageIndex){
                    <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }
            else{
                for(int i = 1; i <= 10; i++){
                    if(i == ViewBag.pageIndex){
                        <a class="active" href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                    else{
                        <a href="?pageIndex=@i@ViewBag.searchString">@i</a>
                    }
                }
            }

            @if(ViewBag.pageIndex < ViewBag.totalPages){
                <a href="?pageIndex=@(ViewBag.pageIndex + 1)@ViewBag.searchString">Next</a>
            }
        </div>
    </div>
</div>