@using MVC.ViewModels
@using MVC.Models;
@model MVC.ViewModels.ShoppingCartViewModel

<div class="container">
    <h2>Your shopping cart</h2>
    <h4>Here are the products in your shopping cart.</h4>
    <table class="table table-bordered table-striped shoppingcart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Selected amount</th>
                <th class="text-left">Price</th>
                <th class="text-left">Subtotal</th>
                <th class="text-center">Min</th>
                <th class="text-center">Plus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemcart in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-left"><a asp-controller="Product" asp-action="Details" asp-route-id="@itemcart.Product.Id">@itemcart.Product.Name</a></td> 
                    <td class="text-center">@itemcart.Amount</td>
                    <td class="text-left">@itemcart.Product.Price</td> 
                    <td class="text-left">
                        @(itemcart.Amount * itemcart.Product.Price)
                    </td> 
                    <td class="td-calc"><a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-Id="@itemcart.Product.Id">-</a></td>
                    <td class="td-calc"><a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-Id="@itemcart.Product.Id">+</a></td>
                </tr>
            } 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    &#8364; <b>@Model.ShoppingCartTotal.ToString() </b>
                </td>
                <td class="text-right">@Model.ShoppingCart.GetShoppingCartTotalItems()</td>
            </tr>
        </tfoot>
    </table>

    <a asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-warning" aria-label="Left Align">Clear cart</a>

    <!--<a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-Id="4">voge toe gap</a>
    <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-Id="4">verwijder gap</a>-->

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out <span class="glyphicon glyphicon-log-in"></span></a>
            <!--<a class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add more drinks<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="Product" asp-action="List" asp-route-category="Category1">Cat1</a></li>
                    <li><a asp-controller="Product" asp-action="List" asp-route-category="Category2">Cat2</a></li>
                </ul>
            </a>-->
        </div>
    </div>

    <br/><br/><br/>
</div>