@model IEnumerable<Mvc.Models.Product>


<div class="container">
@foreach (var item in Model) {
	<div class="col-lg-4 product">
		<div class="product-container">
    		<b>@item.id</b><br/>
            <b>@item.name</b><br/>
    		<b>@item.description</b><br/>
    		<b>@item.price</b><br/>
    		<b>@item.type</b><br/>
		</div>
	</div>
}
</div>